services:
  wamf:
    container_name: wamf
    restart: unless-stopped
    build:
      context: .
    image: wamf:0.4.0-beta.3
    volumes:
      - ./config:/app/config
      - ./data:/app/data
      - ./media:/app/media
    ports:
      - "7767:7767"
    environment:
      TZ: Europe/London
