{% extends "base.html" %}

{% block title %}
  Detections by Hour
{% endblock %}

{% block content %}
<section class="wamf-panel">
  <h1 class="wamf-heading">
    Activity at {{ hour }}:00
  </h1>

  <div class="wamf-subheading">
    {{ records|length }} detection{% if records|length != 1 %}s{% endif %}
    recorded on {{ date }}
  </div>

  <div class="wamf-detection-grid">
    {% for record in records %}
    <div class="wamf-detection-card">

      <img
       src="{{ url_for('frigate_thumbnail', frigate_event=record.frigate_event) }}"
        alt="Thumbnail"
        class="wamf-detection-image"
        onload="checkTransparentImage(this)"
        onclick="showSnapshot('{{ url_for("frigate_snapshot", frigate_event=record["frigate_event"]) }}', 
        '{{ url_for("frigate_clip", frigate_event=record["frigate_event"]) }}', 
        '{{ record["frigate_event"] }}')"
      />

      <div class="wamf-detection-content">

        <h3>{{ record['common_name'] }}</h3>

        <div class="wamf-confidence">
          Detection recorded
        </div>

        <div class="wamf-meta">
          <div class="wamf-meta-secondary">
            Seen at {{ record['detection_time'].split(' ')[1][:5] }}
          </div>

          <div class="wamf-meta-secondary">
            📷 {{ record['camera_name'] }}
          </div>
        </div>

      </div>

    </div>
    {% endfor %}
  </div>
</section>

{% include 'modals_and_scripts.html' %}
{% endblock %}
