{% extends "base.html" %} {% block title %} Detections of {{ common_name }} on
{{ date }} {% endblock %} {% block content %}
<section class="wamf-panel">
   <h1 class="wamf-heading">{{ common_name }}</h1>

   <div class="wamf-subheading">
     {{ records|length }} sighting{% if records|length != 1 %}s{% endif %}
     observed on
     {{ date }}
   </div>

  <div class="wamf-detection-grid">
    {% for record in records %}
    <div class="wamf-detection-card">
      <img
        src="{{ url_for('static', filename='test-images/pigeon1.jpg') }}"
        alt="Thumbnail"
        class="wamf-detection-image"
        onload="checkTransparentImage(this)"
        onclick="showSnapshot('{{ url_for("frigate_snapshot", frigate_event=record["frigate_event"]) }}', '{{ url_for("frigate_clip", frigate_event=record["frigate_event"]) }}', '{{ record["frigate_event"] }}')"
      />

      <div class="wamf-detection-content">
        <h3>{{ common_name }}</h3>

<div class="wamf-confidence">
  {{ (record['score'] * 100)|round|int }}% confidence
</div>

<div class="wamf-meta">
  <div class="wamf-meta-secondary">
    Seen at {{ record['detection_time'].split(' ')[1][:5] }}
  </div>

  <div class="wamf-meta-secondary">
    📷 {{ record['camera_name'] }}
  </div>
</div>    
      </div>
    </div>
    {% endfor %}
  </div>
</section>

{% include 'modals_and_scripts.html' %} {% endblock %}
